<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <style>
        body{
            background :rgb(171, 171, 225);
        }
        .module2{
            background: white;
            color: black;
            margin-left: 300px;
            margin-right: 300px;
            border-radius: 10px;
            margin-top: 50px;
        }
    </style>
    </head>
    <body>
        <div class ="module2">
            <center>
            <h2><b>Application details </b></h2><br><br>
            {% for app in obj %}
            <label>
                Id :
            </label>
            <label>{{app.id}}</label><br><br>
            <label>Employee id :
            </label>
            <label>{{app.employee_id}}</label><br><br>
            <label>
                Application_type :
            </label>
            <label>{{app.application_type}}</label><br><br>
            <label>
                Subject :
            </label>
            <label>{{app.subject}}</label><br><br>
            <label>
                From date :
            </label>
            <label>{{app.from_date}}</label><br><br>
            <label>
                To date :
            </label>
            <label>{{app.to_date}}</label><br><br>
            <label>
                Reason :
                </label>
            <label>{{app.reason}}</label><br><br>
            <label>
                Status :
            </label>
            <label>{{app.status}}</label><br><br>
            <label>
                Balance before approval :
            </label>
            <label>{{app.balance_before_approval}}</label><br><br>
            <label>
                Balance after approval :
            </label>
            <label>{{app.balance_after_approval}}</label><br><br>

            </center>
            {% endfor %}
            
    </body>
    </html>